<img src="/assets/images/electronics.jpg" id="bi" alt="">


<div class="text">
<div class="row">
<div class="small-12 columns">
    <h1 class="text-center white">Welcome to Meredith's Spotify App</h1>
</div>
</div>

<!--<div class="row">
    <div class="small-12 columns">
         <img class="spot-img" src="/assets/images/Spotify_Logo_RGB_Green.png" alt="">
    </div>
</div>-->





<div class="row">
    <div class="small-12 columns">
        <h2 class="text-center white">Browse Spotify Artists</h2>
        <h6 class="text-center white">**Some artists may not be available per Spotify limitations**</h6>
    </div>
</div>

<div class="row">
    <div class="small-10 small-offset-1 columns">

    <form ng-submit="$ctrl.search($ctrl.query)">
        <input type="text" ng-model="$ctrl.query">
        <div class="row">
            <div class="small-12 small-offset-5 columns">
        <button type="submit"  class="button large round home-button text-center" ui-sref="artist({artist:$ctrl.query})">
        Search
        </button>
        </div>
        </div>
    </form>
       
    </div>
</div>
</div>




