<div class="row">
<div class="small-12 columns">
    <h1 class="text-center">Welcome to Meredith's Spotify App</h1>
</div>
</div>

<div class="row">
    <div class="small-12 columns">
         <img src="/assets/images/Spotify_Logo_RGB_Green.png" alt="">
    </div>
</div>


<div class="row">
    <div class="small-12 columns">
        <h2 class="text-center">Search for an Artist</h2>
    </div>
</div>

<div class="row">
    <div class="small-10 columns">
       
<form ng-click="$ctrl.search($ctrl.query)">
        <input type="text" ng-model="$ctrl.query">
         <a ui-sref="artist({artist:$ctrl.query})" class="btn btn-primary text-center" role="button">Search</a>
    </form>

    </div>
</div>



