<!--<div class="conatiner">
	<div class="row">
	<div class="col-sm-6">-->

<div class="album-details">
	<div class="jumbotron">


		<img src="{{$ctrl.album.images[0].url}}" alt="">
		<h3>{{$ctrl.album.name}}</h3>
		<h3>{{$ctrl.album.artists[0].name}}</h3>
		<h3>Play Album</h3>
		<!--without ng-repeat -->

 <a ui-sref="artist({artist:$ctrl.album.artists[0].name})" class="btn btn-primary" role="button">Back to {{$ctrl.album.artists[0].name}} </a>

		<!--<h3>{{$ctrl.tracks.items[0].name}}</h3>-->

		<ul>

			<iframe ng-if="$ctrl.trackIds" ng-src="{{$ctrl.trackIds}}"
				frameborder="0" allowtransparency="true" width="300" height="380"></iframe>


			<li ng-repeat="track in $ctrl.tracks.items">
				<h6>{{track.name}}</h6>
			</li>
		</ul>

	</div>
<!--</div>-->
<!--</div>-->

<!--<div class="col-sm-6">-->

<h3>Related Artists</h3>
<!--<div class="row">
<div class="col-sm-6">-->
	<ul>	
	<li ng-repeat="artist in $ctrl.related.artists">
	<h4>{{artist.name}}</h4>
	<img src="{{artist.images[0].url}}" alt="" height="100" width="100">
		</li>	
		
		</ul> 
	<!--<h4>{{$ctrl.related.artists[0].name}}</h4>-->

<!--<div class="col-sm-6" ng-repeat"artist in $ctrl.related.artists">-->
<!--</div>


</div>-->


<!--</div>






</div>
</div>-->
</div>