<div class="row">
	<div class="columns small-2 small-offset-10">
		<a ui-sref="artist({artist:$ctrl.album.artists[0].name})" class="button tracks-button" role="button">Back to {{$ctrl.album.artists[0].name}} </a>
	</div>

</div>





<div class="row">
	<div class="columns small-6">
		<div class="album-details">

			<img class="album-img"src="{{$ctrl.album.images[0].url}}" height="480" width="480" alt="">
		</div>
	</div>

	<div class="columns small-6">
		<div class="iframe">

			<iframe ng-if="$ctrl.trackIds" ng-src="{{$ctrl.trackIds}}" frameborder="0" allowtransparency="true" width="500" height="380" theme="white"></iframe>
		</div>
	</div>
	</div>


<div class="row">
	<div class="columns small-12">
		<h3 class="text-center">Related Artists</h3>
		<h6 class="text-center">**Click on artist image to navigate to artist**</h6>
	</div>
</div>

<div class="row small-up-1 medium-up-5">
	<div class="column" ng-repeat="artist in $ctrl.related.artists">
		<div class="card">
			<a ui-sref="artist({artist:artist.name})">
				<div class="content">
					<h4 class="text-center">{{artist.name}}</h4>
				</div>
				<div class="image">
					<img class="related-img" src="{{artist.images[0].url}}" alt="">
				</div>
			</a>
		</div>
	</div>
</div>

