<div class="row">
    <div class="columns small-12">
        <h2>New Album Releases</h2>
    </div>
</div>


<div class="row small-up-1 medium-up-4">
    <div class="column" ng-repeat="album in $ctrl.albums.albums.items">
            <div class="image">
                <a ui-sref="tracks({artist: $ctrl.artist.name, albumId: album.id})" class="btn btn-primary" role="button">
                    <img ng-src="{{album.images[0].url}}" height="250" width="250" alt="">
                </a>
            </div>
            <div class="content">
                <h4 class="text-center">{{album.name}}</h4>
            </div>
        </div>
    </div>
</div>